
.AdminRow{
    margin: 0px auto 20px 0px;
    width: 30%;
    position: absolute;
    top:73px;
    background-color: bisque;
}
.AdminRow p{
    background-color: aqua;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;

}
.AdminRow ul{
    padding:15px;
    font-size: 1.1em;
    line-height: 1.2em;
    font-weight: 600;
}
 #ProductOrder{
    margin-left:400px;
}
form{
    width:60%;
    margin:100px 6px 10px 6px;
    display:block;
    font-weight: 700;
}
footer{
    margin-top: 50px;
}