
.AdminRow{
    margin: 0px auto 20px 0px;
    width: 22%;
    position: absolute;
    top:73px;
    background-color: black;
    color: white;
}
.AdminRow p{
    background-color:black;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;

}
.AdminRow ul, .AdminRow ul a{
    padding:15px;
    font-size: 1.1em;
    line-height: 1.2em;
    font-weight: 600;
    color:gray;
}
.AdminRow ul a:hover{
    color: white;
}
 #sideDisplay{
     margin-top:80px;
    margin-left:300px;
    height:100vh;
    
}

section h3, section p{
    text-align:center;
}
form{
    width:60%;
    margin:100px 6px 10px 6px;
    display:block;
    font-weight: 700;
}
#success{
    font-size:14px;
    color:green;
}
#Allproduct img{
    border-radius:50%;
}
footer{
    margin-top: 100px;
}